<div class="footer">
	<div class="container">
		<div class="row">
			footer
		</div>
	</div>
</div>
<script src="<%= assetFingerprint('/javascripts/scripts.js') %>"></script>
<script src='/javascripts/jquery.min.js'></script>
</body>

</html>